<section class='section category-section'>
    {{> heading title="Giỏ hàng" }}
</section>
<section class='section'>
    <div class='container px-lg-4'>
        <div class='table-responsive-md'>
            <form>
                <table
                    class='table shop_table shop_table_responsive cart cart-form__contents position-relative'
                    cellspacing='0'
                >
                    <thead>
                        <tr>
                            <th class='product-remove'>Stt</th>
                            <th class='product-thumbnail'>Hình Ảnh Sản Phẩm</th>
                            <th class='product-name'>Sản phẩm</th>
                            <th class='product-quantity'>Số lượng</th>
                            <th class='product-price'>Giá sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each lsCartItem}}
                            <tr class='cart-form__cart-item cart_item'>
                                <td class='product-remove'>
                                    <a
                                        href='/gio-hang/?remove_item=9897af2e1014f2e1c831b8d6e18f6e57&amp;_wpnonce=1a20c87b83'
                                        class='remove'
                                        aria-label='Xóa sản phẩm này'
                                    >1</a>
                                </td>

                                <td class='product-thumbnail'>
                                    <a
                                        href='/san-pham/bo-ban-trang-diem-hien-dai-hh-scu-g1692/?attribute_pa_chat-lieu=go-tu-nhien-kim-loai&amp;attribute_pa_kich-thuoc=1000520760&amp;attribute_pa_mau-sac=cam'
                                    ><img
                                            width='150'
                                            height='150'
                                            src='/images/{{img}}'
                                            class='attachment_thumbnail size_thumbnail'
                                            alt=''
                                        /></a>
                                </td>

                                <td class='product-name' data-title='Sản phẩm'>
                                    <a
                                        href='/san-pham/bo-ban-trang-diem-hien-dai-hh-scu-g1692/?attribute_pa_chat-lieu=go-tu-nhien-kim-loai&amp;attribute_pa_kich-thuoc=1000520760&amp;attribute_pa_mau-sac=cam'
                                    >{{title}}</a><dl class='variation'>
                                        <dt class='fs-6 d-inline-block text-light variation-ChtLiu'>Chất Liệu:</dt>
                                        <dd class='fs-6 d-inline-block variation-ChtLiu'><p>{{material}}</p>
                                        </dd>
                                        <br />
                                        <dt class='fs-6 d-inline-block text-light variation-KchThc'>Kích Thước:</dt>
                                        <dd class='fs-6 d-inline-block variation-KchThc'><p>{{size}}</p>
                                        </dd>
                                        <br />
                                        <dt class='fs-6 d-inline-block text-light variation-MuSc'>Màu Sắc:</dt>
                                        <dd class='fs-6 d-inline-block variation-MuSc'><p>{{color}}</p>
                                        </dd>
                                        <br />
                                    </dl>
                                </td>

                                <td class='product-quantity' data-title='Số lượng'>
                                    <div class='qib-container'>
                                        <button
                                            type='button'
                                            data-product_id='{{id}}'
                                            class='minus qib-button'
                                        >-</button>
                                        <div class='quantity buttons_added buttons-added'>
                                            <label class='screen-reader-text' for='quantity'>Bộ Bàn Trang Điểm Hiện Đại
                                                H&amp;H SCU-G1692 số lượng</label>
                                            <input
                                                type='number'
                                                id='quantity'
                                                class='input-text qty quantity_{{id}} text'
                                                step='1'
                                                min='0'
                                                max=''
                                                name='cart[9897af2e1014f2e1c831b8d6e18f6e57][qty]'
                                                value='1'
                                                title='SL'
                                                size='4'
                                                placeholder=''
                                                inputmode='numeric'
                                            />
                                        </div>
                                        <button
                                            type='button'
                                            data-product_id='{{id}}'
                                            class='plus qib-button'
                                        >+</button>
                                    </div>
                                </td>

                                <td class='product-price' data-title='Giá'>
                                    <span class='giathuong'>Giá niêm yết: </span>
                                    {{#when discount 'gt' 0}}
                                        <del>
                                            <span class='Price-amount amount text-light'>
                                                {{formatCurrency price}}
                                            </span></del>
                                        <br />
                                        <span class='giathuong'>Giảm: </span>
                                        <span class='Price-amount amount fs-5'>
                                            {{discount}}%
                                        </span>
                                        <br />
                                        <br />
                                        <span class='giathuong'>Giá khuyến mãi: </span>
                                        <span class='Price-amount amount fs-5'>
                                            {{discountPrice price discount}}

                                        </span>
                                    {{else}}
                                        <span class='Price-amount amount'>
                                            <span class='Price-amount amount fs-5'>
                                                {{formatCurrency price}}

                                            </span>
                                        </span>
                                    {{/when}}
                                </td>
                            </tr>
                        {{/each}}

                        <tr>
                            <td colspan='6' class='actions'>
                                <div class='coupon'>
                                    <label for='coupon_code'>Ưu đãi:</label>
                                    <input
                                        type='text'
                                        name='coupon_code'
                                        class='input-text'
                                        id='coupon_code'
                                        value=''
                                        placeholder='Mã ưu đãi'
                                    />
                                    <button type='submit' class='button' name='apply_coupon' value='Áp dụng'>Áp dụng</button>
                                </div>

                                <button
                                    type='submit'
                                    class='button'
                                    name='update_cart'
                                    value='Cập nhật giỏ hàng'
                                    disabled=''
                                    hidden='true'
                                    aria-disabled='true'
                                >Cập nhật giỏ hàng</button>

                                <input type='hidden' id='cart-nonce' name='cart-nonce' value='1a20c87b83' /><input
                                    type='hidden'
                                    name='_wp_http_referer'
                                    value='/gio-hang'
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>
        </div>

        <div class='cart-collaterals'>
            <div class='cart_totals'>
                <h2>Cộng giỏ hàng</h2>
                <table cellspacing='0' class='shop_table shop_table_responsive'>
                    <tbody><tr class='cart-subtotal'>
                            <th>Tạm tính</th>
                            <td data-title='Tạm tính'><span class='Price-amount amount'>
                                    {{formatCurrency 230000000}}
                                </span></td>
                        </tr>

                        <tr class='order-total'>
                            <th>Tổng</th>
                            <td data-title='Tổng'><strong><span class='Price-amount amount'><bdi>23.160.000<span
                                                class='Price-currencySymbol'
                                            >đ</span></bdi></span></strong>
                                <p class='taxtext'>(Giá chưa bao gồm thuế VAT 10%)</p></td>
                        </tr>
                    </tbody></table>
                <div class='wc-proceed-to-checkout'>
                    <a href='/thanh-toan' class='checkout-button button alt wc-forward'>XÁC NHẬN ĐẶT HÀNG</a>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
    </div>
</section>