<div class='widget-container'>
    <video width='100%' height='auto' playsinline='' muted='' autoplay='' loop=''>
        <source src='https://hhfurniture.com.vn/wp-content/uploads/2021/01/demo-furniture.mp4' type='video/mp4' />
    </video>
</div>

<section class='section section-1'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'>
                                        <a href='https://hhfurniture.com.vn/chinh-sach-giao-hang/'>
                                            <img
                                                width='511'
                                                height='488'
                                                src='images/9a1ec57de13620687927-removebg-preview.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            />
                                        </a>

                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>
                                            <a href='https://hhfurniture.com.vn/chinh-sach-giao-hang/'>Giao hàng nhanh
                                                chóng
                                            </a>
                                        </h3>
                                        <p class='image-box-description'>Miễn Phí Ship KV TP.HCM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'><a
                                            href='https://hhfurniture.com.vn/chinh-sach-bao-hanh/'
                                        >
                                            <img
                                                width='100'
                                                height='109'
                                                src='images/guaranteed-icon.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            /></a>
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'><a
                                                href='https://hhfurniture.com.vn/chinh-sach-bao-hanh/'
                                            >cam kết</a></h3><p class='image-box-description'>Đổi trả - Bảo hành</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'>
                                        <img
                                            width='485'
                                            height='486'
                                            src='images/ba6fc00ce44725197c56-removebg-preview.png'
                                            class='attachment-full size-full'
                                            alt=''
                                        />
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>dịch vụ khách hàng</h3><p
                                            class='image-box-description'
                                        >tận tâm - chuyên nghiệp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='box-img'>
                    <div class='widget-wrap'>
                        <div class='element position-top vertical-align-top widget widget-image-box'>
                            <div class='widget-container'>
                                <div class='image-box-wrapper'>

                                    <figure class='image-box-img'><a
                                            href='https://hhfurniture.com.vn/chinh-sach-tra-gop/'
                                        >
                                            <img
                                                width='500'
                                                height='500'
                                                src='images/e7938cf0a8bb69e530aa-removebg-preview.png'
                                                class='attachment-full size-full'
                                                alt=''
                                            />
                                        </a>
                                    </figure>
                                    <div class='image-box-content'>
                                        <h3 class='image-box-title'>
                                            <a href='https://hhfurniture.com.vn/chinh-sach-tra-gop/'>hỗ trợ trả góp
                                            </a>
                                        </h3>
                                        <p class='image-box-description'>lãi suất 0%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section section-donoithat'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='widget-wrap'>
                    <div class='element widget widget-heading'>
                        <div class='widget-container heading-title-arround'>
                            <h2 class='heading-title size-default'>ĐỒ NỘI THẤT</h2>
                        </div>
                    </div>
                    <div class='element widget widget-text-editor'>
                        <div class='widget-container'>
                            <div class='text-editor clearfix'>
                                <p>Đồ nội thất – hay là vật dụng hoặc thiết bị nội thất, đôi khi gọi chung là nội thất
                                    là thuật ngữ chỉ những loại tài sản (thường là động sản) và các vật dụng khác được
                                    bố trí, trang trí bên trong một không gian như trong nhà, trong các phòng như phòng
                                    khách, phòng ngủ, phòng bếp….hay cả toà nhà nhằm mục đích hỗ trợ trong các công việc
                                    khác nhau của con người, hay chỉ đơn thuần là trang trí không gian, lấp đầy chỗ
                                    trống và tạo nên nét thẩm mỹ riêng cho nơi đặt chúng. Đồ nội thất cũng có thể được
                                    dùng để lưu trữ hoặc cất giữ tài sản…<a
                                        href='https://hhfurniture.com.vn/danh-muc-san-pham/do-noi-that/'
                                    ><b><i>XEM THÊM</i></b></a></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class='widget-wrap'>
                    <div class='element widget widget-image'>
                        <div class='widget-container'>
                            <div class='image'>
                                <img
                                    width='770'
                                    height='453'
                                    src='images/a2344490b2177e4927061-1024x604.jpg'
                                    class='attachment-large size-large'
                                    alt=''
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12'>
                <div class='owl-carousel owl-slider products'>
                    {{#each lsProduct}}
                        {{> productPartials}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section section-donoithat'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='widget-wrap'>
                    <div class='element widget widget-image'>
                        <div class='widget-container'>
                            <div class='image'>
                                <img
                                    width='770'
                                    height='453'
                                    src='images/a2344490b2177e4927061-1024x604.jpg'
                                    class='attachment-large size-large'
                                    alt=''
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class='widget-wrap'>
                    <div class='element widget widget-heading'>
                        <div class='widget-container heading-title-arround'>
                            <h2 class='heading-title size-default'>
                                THIẾT BỊ VỆ SINH
                            </h2>
                        </div>
                    </div>
                    <div class='element widget widget-text-editor'>
                        <div class='widget-container'>
                            <div class='text-editor clearfix'>
                                <p>
                                    Hiểu đơn giản, thiết bị vệ sinh là những dụng cụ trang thiết bị bằng gốm sứ hoặc kim
                                    loại tráng men được lắp đặt trong nhà vệ sinh hay phòng tắm. Các loại thiết bị vệ
                                    sinh thông dụng hiện nay gồm có bồn tắm, bồn cầu, bồn tiểu, chậu lavabo (chậu rửa
                                    mặt), vòi sen tắm, vòi chậu lavabo… Thiết bị vệ sinh tân cổ điển cũng rất đa dạng,
                                    phong phú chủng loại, mẫu mã như bồn cầu, bồn tắm, sen vòi, chậu rửa, gương, phụ
                                    kiện… có sự kết hợp ăn khớp với nhau trong tổng thể thống nhất. Kiểu dáng thiết bị
                                    lấy cảm hứng từ công trình theo phong cách cổ điển, ví dụ như những chiếc vòi nước
                                    đường cong giống họa tiết trang trí cửa ra vào, các bồn cầu, bồn tắm hình khối đồ
                                    sộ, các thiết bị mà vàng đồng, vàng bóng cổ điển. Các sản phẩm thiết bị vệ sinh mang
                                    phong cách cổ điển và tân cổ điển của H&H luôn là những tinh hoa trong thiết kế nội
                                    thất mà chúng tôi muốn đem đến cho quý khách hàng. Nếu ví căn nhà là vương quốc
                                    riêng của mỗi người, thì phòng tắm chính là một ốc đảo biệt lập, nơi mọi cảm xúc
                                    được thăng hoa và gột rửa bên dưới vòi sen mạ vàng hoặc bồn tắm chạm khắc tinh tế.
                                    Từng chi tiết nhỏ cũng có thể tạo nên nét đẹp không thể chối từ….<a
                                        href='https://hhfurniture.com.vn/danh-muc-san-pham/do-noi-that/'
                                    ><b><i>XEM THÊM</i></b></a></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section section-chanel'>
    {{> heading title="H & H CHANEL"}}

    <div class='element widget widget-heading'>
        <div class='widget-container'>
            <h4 class='heading-title size-default'>“Đồng hành cùng bạn sáng tạo không gian sống mơ ước.”</h4>
        </div>
    </div>

    <div class='element widget widget-image'>
        <div class='widget-container'>
            <div class='image'>
                <a href='https://www.youtube.com/channel/UCEKyC_cTyvU1kzI02fGrnhg'>
                    <img
                        width='357'
                        height='110'
                        src='images/dang-ky-youtube.png'
                        class='attachment-large size-large'
                        alt=''
                    />
                </a>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class='col-md-4'>
                <div class='widget-wrap'>
                    <div class='wrapper fit-aspect-ratio open-inline'>
                        <iframe
                            class='video'
                            frameborder='0'
                            allowfullscreen='1'
                            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                            title='Giới Thiệu HH'
                            width='640'
                            height='500px'
                            src='https://www.youtube.com/embed/UiXBmCJ1vOQ?controls=1&amp;rel=0&amp;playsinline=1&amp;modestbranding=1&amp;autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhhfurniture.com.vn&amp;widgetid=1'
                            id='widget2'
                        ></iframe>
                    </div>
                </div>

            </div>
            <div class='col-md-4'>
                <div class='widget-wrap'>
                    <div class='wrapper fit-aspect-ratio open-inline'>
                        <iframe
                            class='video'
                            frameborder='0'
                            allowfullscreen='1'
                            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                            title='Giới Thiệu HH'
                            width='640'
                            height='500px'
                            src='https://www.youtube.com/embed/UiXBmCJ1vOQ?controls=1&amp;rel=0&amp;playsinline=1&amp;modestbranding=1&amp;autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhhfurniture.com.vn&amp;widgetid=1'
                            id='widget2'
                        ></iframe>
                    </div>
                </div>

            </div>
            <div class='col-md-4'>
                <div class='widget-wrap'>
                    <div class='wrapper fit-aspect-ratio open-inline'>
                        <iframe
                            class='video'
                            frameborder='0'
                            allowfullscreen='1'
                            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                            title='Giới Thiệu HH'
                            width='640'
                            height='500px'
                            src='https://www.youtube.com/embed/UiXBmCJ1vOQ?controls=1&amp;rel=0&amp;playsinline=1&amp;modestbranding=1&amp;autoplay=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhhfurniture.com.vn&amp;widgetid=1'
                            id='widget2'
                        ></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class='section section-quytrinh'>
    {{> heading title="QUY TRÌNH BÁN HÀNG" }}

    <div class='container'>
        <div class='row'>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='782'
                            src='images/1-1008x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='782'
                            src='images/2-1008x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='782'
                            src='images/3-1008x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='970'
                            src='images/4-813x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='970'
                            src='images/5-813x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='image-container'>
                    <a href='https://hhfurniture.com.vn/quy-trinh-ban-hang/'>
                        <img
                            width='770'
                            height='970'
                            src='images/6-813x1024.jpg'
                            class='attachment-large size-large'
                            alt=''
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section section-khachhang'>
    {{> heading title="KHÁCH HÀNG NÓI VỀ H & H" }}
    <div class='container'>
        <div class='swiper-container'>
            <div class='swiper-wrapper'>
                <!-- Slides -->
                <div class='swiper-slide'>
                    <div class='testimonial'>
                        <div class='testimonial__content'>
                            <div class='testimonial__text'>
                                “H &amp; H Furniture là lựa chọn số 1 của chúng tôi trong ngành nội thất.”
                            </div>
                            <cite class='testimonial__cite'><span class='testimonial__name'>Mr. Ngọc Thạch</span><span
                                    class='testimonial__title'
                                >- CEO Công ty ABC -</span></cite>
                        </div>
                        <div class='testimonial__footer'>
                            <div class='testimonial__image'>
                                <img
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2020/12/mr-thach.png'
                                    alt='Mr. Ngọc Thạch'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class='testimonial'>
                        <div class='testimonial__content'>
                            <div class='testimonial__text'>
                                “H &amp; H Furniture là lựa chọn số 1 của chúng tôi trong ngành nội thất.”
                            </div>
                            <cite class='testimonial__cite'><span class='testimonial__name'>Mr. Ngọc Thạch</span><span
                                    class='testimonial__title'
                                >- CEO Công ty ABC -</span></cite>
                        </div>
                        <div class='testimonial__footer'>
                            <div class='testimonial__image'>
                                <img
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2020/12/mr-thach.png'
                                    alt='Mr. Ngọc Thạch'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='swiper-slide'>
                    <div class='testimonial'>
                        <div class='testimonial__content'>
                            <div class='testimonial__text'>
                                “H &amp; H Furniture là lựa chọn số 1 của chúng tôi trong ngành nội thất.”
                            </div>
                            <cite class='testimonial__cite'><span class='testimonial__name'>Mr. Ngọc Thạch</span><span
                                    class='testimonial__title'
                                >- CEO Công ty ABC -</span></cite>
                        </div>
                        <div class='testimonial__footer'>
                            <div class='testimonial__image'>
                                <img
                                    src='https://hhfurniture.com.vn/wp-content/uploads/2020/12/mr-thach.png'
                                    alt='Mr. Ngọc Thạch'
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nếu cần pagination -->
            <div class='swiper-pagination swiper-pagination-clickable swiper-pagination-bullets'><span
                    class='swiper-pagination-bullet'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 1'
                ></span><span
                    class='swiper-pagination-bullet swiper-pagination-bullet-active'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 2'
                ></span></div>

            <!-- Nếu cần navigation -->
            <div class='swiper-button swiper-button-prev' tabindex='0' role='button' aria-label='Previous slide'>
                <i aria-hidden='true' class='eicon-chevron-left'></i>
                <span class='screen-only'>Previous</span>
            </div>
            <div class='swiper-button swiper-button-next' tabindex='0' role='button' aria-label='Next slide'>
                <i aria-hidden='true' class='eicon-chevron-right'></i>
                <span class='screen-only'>Next</span>
            </div>

            <!-- Nếu cần scrollbar -->
            <div class='swiper-scrollbar'></div>
        </div>
    </div>
</section>

<section class='section section-doitac'>
    {{> heading title="ĐỐI TÁC CỦA H & H" }}
    <div class='container'>
        <div
            class='image-carousel-wrapper swiper-container-doitac swiper-container-initialized swiper-container-horizontal'
        >
            <div
                class='image-carousel swiper-wrapper swiper-image-stretch'
                style='transition-duration: 0ms; transform: translate3d(-2810.25px, 0px, 0px);'
            >
                {{#each doitacs}}
                    <div class='swiper-slide' style='width: 106.125px; margin-right: 50px;'>
                        <img class='swiper-slide-image' src='{{src}}' alt='{{alt}}' />
                    </div>
                {{/each}}
            </div>

            <div class='swiper-pagination swiper-pagination-clickable swiper-pagination-bullets'><span
                    class='swiper-pagination-bullet'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 1'
                ></span><span
                    class='swiper-pagination-bullet swiper-pagination-bullet-active'
                    tabindex='0'
                    role='button'
                    aria-label='Go to slide 2'
                ></span></div>

            <!-- Nếu cần navigation -->
            <div class='swiper-button swiper-button-prev' tabindex='0' role='button' aria-label='Previous slide'>
                <i aria-hidden='true' class='eicon-chevron-left'></i>
                <span class='screen-only'>Previous</span>
            </div>
            <div class='swiper-button swiper-button-next' tabindex='0' role='button' aria-label='Next slide'>
                <i aria-hidden='true' class='eicon-chevron-right'></i>
                <span class='screen-only'>Next</span>
            </div>
            <!-- Nếu cần scrollbar -->
            <div class='swiper-scrollbar'></div>
        </div>
    </div>
</section>

<section class='section section-contact'>
    {{> heading title="LIÊN HỆ NGAY HÔM NAY" }}
    <div class='container'>
        <div class='row'>
            <div class='col-md-4 d-flex flex-wrap'>
                <div class='widget-wrap'>
                    <div
                        class='element align-left tablet-align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                    >
                        <div class='container'>
                            <ul class='icon-list-items'>
                                <li class='icon-list-item'>
                                    <span class='icon-list-icon'>
                                        <i aria-hidden='true' class='fas fa-phone-square-alt'></i>
                                    </span>
                                    <span class='icon-list-text'>1900 86 68 16</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div
                        class='element align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                    >
                        <div class='container'>
                            <ul class='icon-list-items'>
                                <li class='icon-list-item'>
                                    <span class='icon-list-icon'>
                                        <i aria-hidden='true' class='fas fa-envelope'></i>
                                    </span>
                                    <span class='icon-list-text'>cskh.hhfurniture@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div
                        class='element align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                    >
                        <div class='container'>
                            <ul class='icon-list-items'>
                                <li class='icon-list-item'>
                                    <span class='icon-list-icon'>
                                        <i aria-hidden='true' class='fas fa-globe-africa'></i>
                                    </span>
                                    <span class='icon-list-text'>https://hhfurniture.com.vn</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div
                        class='element align-left icon-list--layout-traditional list-item-link-full_width widget widget-icon-list'
                    >
                        <div class='container'>
                            <ul class='icon-list-items'>
                                <li class='icon-list-item'>
                                    <span class='icon-list-icon'>
                                        <i aria-hidden='true' class='fas fa-map-marker-alt'></i>
                                    </span>
                                    <span class='icon-list-text'>24 đường số 2, KDC Cityland,<br />
                                        Phường 7, Quận Gò Vấp, TP.HCM</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class='col-md-8'>
                <div class='widget-wrap'>
                    <div class='element widget widget-google_maps'>
                        <div class='widget-container'>
                            <div class='custom-embed'>
                                <iframe
                                    frameborder='0'
                                    scrolling='no'
                                    marginheight='0'
                                    marginwidth='0'
                                    src='https://maps.google.com/maps?q=N%E1%BB%99i%20th%E1%BA%A5t%20H%26amp%3BH%20-%20H%26amp%3BH%20Furniture&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near'
                                    title='Nội thất H&amp;H - H&amp;H Furniture'
                                    aria-label='Nội thất H&amp;H - H&amp;H Furniture'
                                    data-gtm-yt-inspected-4='true'
                                    height='500px'
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='section section-posts'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 px-3'>
                <div class='widget-wrap'>
                    <div
                        class='element grid-1 posts--thumbnail-left widget__width-initial grid-tablet-1 grid-mobile-1 widget widget-posts'
                    >
                        <div class='element widget widget-heading heading-title-arround'>
                            <h2 class='heading-title size-default'>BẢN TIN H &amp; H</h2>
                        </div>
                        <div class='widget-container'>
                            <div class='posts-container posts posts--skin-classic grid has-item-ratio'>
                                {{#each posts}}
                                    <article
                                        class='post row grid-item post-8024 post type-post status-publish format-standard has-post-thumbnail hentry category-ban-tin'
                                    >
                                        <div class='col-md-5 mb-2'>
                                            <a class='post__thumbnail__link' href='{{href}}'>
                                                <div class='post__thumbnail fit-height'><img
                                                        width='770'
                                                        height='293'
                                                        src='{{img}}'
                                                        class='attachment-large size-large'
                                                        alt=''
                                                    /></div>
                                            </a>
                                        </div>

                                        <div class='col-md-7 mb-2'>
                                            <div class='post__text p-3'>
                                                <h3 class='post__title'>
                                                    <a href='{{href}}'>
                                                        {{title}}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>

                                    </article>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-md-6 px-3'>
                <div class='widget-wrap'>

                    <div
                        class='element grid-1 posts--thumbnail-left widget__width-initial grid-tablet-1 grid-mobile-1 widget widget-posts'
                    >
                        <div class='element widget widget-heading heading-title-arround'>
                            <h2 class='heading-title size-default'>DỰ ÁN H &amp; H</h2>
                        </div>
                        <div class='widget-container'>
                            <div class='posts-container posts posts--skin-classic grid has-item-ratio'>
                                {{#each posts}}
                                    <article
                                        class='post row grid-item post-8024 post type-post status-publish format-standard has-post-thumbnail hentry category-ban-tin'
                                    >
                                        <div class='col-md-5 mb-2'>
                                            <a class='post__thumbnail__link' href='{{href}}'>
                                                <div class='post__thumbnail fit-height'><img
                                                        width='770'
                                                        height='293'
                                                        src='{{img}}'
                                                        class='attachment-large size-large'
                                                        alt=''
                                                    /></div>
                                            </a>
                                        </div>

                                        <div class='col-md-7 mb-2'>
                                            <div class='post__text p-3'>
                                                <h3 class='post__title'>
                                                    <a href='{{href}}'>
                                                        {{title}}
                                                    </a>
                                                </h3>
                                            </div>
                                        </div>

                                    </article>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>