{{#if error}}
    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
        {{error}}
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
{{/if}}

{{#if success}}
    <div class='alert alert-success alert-dismissible fade show' role='alert'>
        {{success}}
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
        </button>
    </div>
{{/if}}

{{!-- <div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='card shadow'>
                <div class='card-header d-flex justify-content-between'>
                    <h4>{{pageName}}</h4>
                    <a type='button' href='/admin/category/create' class='btn btn-success'>+ Thêm danh mục</a>
                </div>
                <div class='card-body'>
                    <fieldset>
                        <!-- Text input-->
                        <div class='level1-box form-group'>
                            <label class='control-label text-uppercase' for='level1'>DANH MỤC CẤP 1</label>
                            <select id='level1' name='level1' class='form-control'>
                                <option value=''>Chọn danh mục...</option>
                                {{#each level1}}
                                    <option value='{{_id}}'>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class='level2-box form-group d-none'>
                            <label class='control-label text-uppercase' for='level2'>DANH MỤC CẤP 2</label>
                            <select id='level2' name='level2' class='form-control'>
                                <option value=''>Chọn danh mục...</option>
                                {{#each level2}}
                                    <option value='{{_id}}'>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class='level3-box form-group d-none'>
                            <label class='control-label text-uppercase' for='level3'>DANH MỤC CẤP 3</label>
                            <select id='level3' name='level3' class='form-control'>
                                <option value=''>Chọn danh mục...</option>
                                {{#each level3}}
                                    <option value='{{_id}}'>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <!-- Text input-->
                        <div class='form-footer'>
                            <button
                                type='button'
                                data-toggle='modal'
                                data-target='#deleteModal'
                                class='delCategory btn btn-danger'
                            >
                                Xoá danh mục</button>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<style>
    input {
  background: transparent;
  font-size: 16px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 0;
  border-radius: 0;
  line-height: 40px;
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 10px;
}

ul#my-tree {
  margin: 0;
  padding: 10px 5px;
  color: #666;
  width: 70%;
}

ul#my-tree	li {
    margin: 5px 0;
    line-height: 30px;
    background: #eee;
}

ul#my-tree li:hover {
    background: #ddd;
}



ul#my-tree li a {
    color: #666;
    text-decoration: none;
    display: inline-block !important;
    width: 90%;
}

div.desc {
  margin: 20px 0;
  color: #aaa;
  font-size: 11px;
  text-align: left;
}

.tf-tree,
.tf-tree li {
  list-style: none;
  padding-left: 0;
  line-height: 20px;
}

.tf-tree .tf-child-true > ul {
    display: none;
    padding-left: 0;
    padding-bottom: 5px;
}

.tf-tree .tf-child-true {
  cursor: pointer;
  position: relative;
}

.tf-tree .tf-child-true:before {
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    content: "▸";
    width: 20px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    transition: .1s linear;
}

.tf-tree .tf-child-true.tf-open > a {
  font-weight: bold;
}

.tf-tree .tf-child-true.tf-open > ul {
  display: block;
}

.tf-tree .tf-child-true.tf-open:before {
  -webkit-transform: rotate(90deg);
}

.tf-tree .tf-child-false {
  cursor: pointer;
  position: relative;
}

.tf-tree .tf-child-false:before {
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  content: "-";
  width: 20px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.tf-tree .tf-closed {
  font-weight: normal;
}

.tf-tree .tf-selected {
    background: #ccc !important;
    color: #08f;
    border-radius: 0;
}

.tf-tree ul.tf-search-result {
  display: block;
}

.tf-tree ul.tf-search-result > li {
  display: none;
}

.tf-tree ul.tf-search-result > li.tf-search-result {
  display: block;
}

span.delCategory {
    position: absolute;
    width: 4% !important;
    opacity: 0;
    right:0;
    background-color: crimson;
    color: white
}

span {
    display: inline-block !important;
}

span.sortUp {
    position: absolute;
    width: 4% !important;
    opacity: 0;
    right:4.5%;
    background-color: #28a745;
    color: white
}
</style>

<div class="container">
    <div class='card-header d-flex justify-content-between mb-5'>
        <h4>{{pageName}}</h4>
      
        <a type="button" href="/admin/category/create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Thêm danh mục</a>
    </div>
		<input style="border: 2px solid rgba(0,0,0,0.25); border-radius: 6px; width: 70%" type="search" id="my-search" placeholder="Tìm kiếm danh mục">
		<form action="/admin/category/sort" method="POST">
            <ul id="my-tree">
                {{#each lsCat}}
                    <li>
                    <a href="#">{{name}} </a>
                    <span
                        class='sortUp text-center'
                    >
                    <i style="color: white" class="fas fa-angle-double-up"></i></span>
                    <span
                        type='button'
                        data-toggle='modal'
                        data-target='#deleteModal'
                        class='delCategory text-center'
                    >
                    <i style="color: white" class="fas fa-trash-alt"></i></span>
                    <input name="level1" type="hidden" value="{{_id}}">
                    {{#if children}}
                    <ul>
                        {{#each children}}
                            <li>
                                <a href="#">{{name}}</a>
                                <span
                                    class='sortUp text-center'
                                >
                                <i style="color: white" class="fas fa-angle-double-up"></i></span>
                                <span
                                    type='button'
                                    data-toggle='modal'
                                    data-target='#deleteModal'
                                    class='delCategory text-center'
                                >
                                <i style="color: white" class="fas fa-trash-alt"></i></span>
                                <input name="level2" type="hidden" value="{{_id}}">
                                {{#if children}}
                                <ul>
                                    {{#each children}}
                                    <li><a href="#">{{name}}</a>
                                    <span
                                        class='sortUp text-center'
                                    >
                                    <i style="color: white" class="fas fa-angle-double-up"></i></span>
                                    <span
                                        type='button'
                                        data-toggle='modal'
                                        data-target='#deleteModal'
                                        class='delCategory text-center'
                                    >
                                    <i style="color: white" class="fas fa-trash-alt"></i></span>
                                    <input name="level3" type="hidden" value="{{_id}}">
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    
                </li>
                {{/each}}
            </ul>

            <button type="submit" class="btn btn-primary ml-2 sortBtn"> <i class="fas fa-save"></i> Lưu</button>
        </form>
        
	</div>

<div class='modal fade' id='deleteModal'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa danh mục</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <form action='/admin/category/delete/' class='form delete-form' method='POST'>

                <div class='modal-body'>
                    Lưu ý khi xóa danh mục này các danh mục thuộc danh mục và sản phẩm của danh mục này sẽ bị xóa vĩnh
                    viễn. Bạn có muốn xóa danh mục này ?
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
                    <button type='submit' id='deleteBtn' class='btn btn-danger'>Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    // Endless tree structured UL > LI > UL 

$.extend($.expr[":"], {
	"containsIN" : function(elem, i, match, array) {
		return (elem.textContent || elem.innerText || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
	}
});

var treefilter = function(el, options) {

	var defaults = {
		offsetLeft : 20, // left offset for each level
		searcher : null, // search input field
		expanded : false, // if true, your list will be show with expanded.
		multiselect : false // multiselect.
	};

	// Public Variables
	var plugin = this;
	var status = []; // save folder status for "var memory"

	plugin.settings = {};

	// Main Function
	var init = function() {
		plugin.settings = $.extend({}, defaults, options);
		plugin.el = el;

		// set class names to tags
		el.addClass("tf-tree");
		el.find("li").addClass("tf-child-true");
		el.find("li").css("padding-left", plugin.settings.offsetLeft);
		{{!-- el.find("li a:only-child").parent().removeClass("tf-child-true");
		el.find("li a:only-child").parent().addClass("tf-child-false"); --}}
        
		// if the list has a checkbox, block event bubbling.
		el.find("input[type=checkbox]").click(function(e) {
			e.stopPropagation();
		});

		// set click event.
		el.find("li.tf-child-true").children("a").click(function(e) {
			if (e.metaKey || e.ctrlKey) {
				if ($(this).parent().hasClass("tf-open")) {
					$(this).parent().find("li.tf-child-true").removeClass("tf-open");
				} else {
					$(this).parent().find("li.tf-child-true").addClass("tf-open");
				}
			}
			$(this).parent().toggleClass("tf-open");
		});

		// toggle effect when multiselect enabled.
		el.find("li.tf-child-false").click(function() {
			if (plugin.settings.multiSelect != true) {
				el.find("li.tf-selected").removeClass("tf-selected");
			}
			$(this).toggleClass("tf-selected");
		});

		if (plugin.settings.searcher) {
			searcher();
		}
	};

	// PUBLIC METHOD
	plugin.openAll = function() {
		plugin.el.find("li.tf-child-true").parent().addClass("tf-open");
	};
	plugin.closeAll = function() {
		plugin.el.find("li.tf-child-true").parent().removeClass("tf-open");
	};

	// PRIVATE FUNCTION
	// fired when type on search input field.
	var searcher = function() {
		$(plugin.settings.searcher).keyup(function() {
			if ($(this).val().length == 0) {
				plugin.el.find(".tf-search-result").removeClass("tf-search-result");
				memory("out", status);
			} else {
				plugin.closeAll();
				plugin.el.find("li.tf-open").removeClass("tf-open");
				plugin.el.find("li.tf-search-result").removeClass("tf-search-result");
				plugin.el.find("li:containsIN('" + $(this).val() + "')").addClass("tf-search-result");
				plugin.el.find("li.tf-search-result").parent().addClass("tf-search-result");
			}
		});
		$(plugin.settings.searcher).keydown(function() {
			if ($(this).val().length == 0) {
				memory("in", status);
			}
		});
	};
	
	// save current status of folder 
	// action : string "in" / "out"
	// array : array that saves current status
	// list : el
	var memory = function(action) {
		if (action == "in") {
			status = [];
			plugin.el.find("li").each(function() {
				status.push($(this).hasClass("tf-open"));
			});
		} else if (action == "out") {
			plugin.el.find("li").each(function(i) {
				if (status[i]) { 
					$(this).addClass("tf-open");
				} else {
					$(this).removeClass("tf-open");
				}
			});
		}
	}

	init();
};
</script>
<script>
$(function() {
	var tree = new treefilter($("#my-tree"), {
		searcher : $("input#my-search"),
		multiselect : false
	});
});

$('li').hover(function() {
    $(this).children('.delCategory').css('opacity', 1);
}, function() {
    $(this).children('.delCategory').css('opacity', 0);
})

$('li').filter(function() {
    return $(this).children('ul').length === 0
}).addClass('tf-child-false')

$('li').hover(function() {
    $(this).children('.sortUp').css('opacity', 1);
}, function() {
    $(this).children('.sortUp').css('opacity', 0);
})

$('.delCategory').click(function() {
    let id = $(this).siblings('input').val();
    $('.delete-form').attr('action',`/admin/category/delete/${id}`)
})

$('.sortUp').click(function() {
    let curr = $(this).parent();
    let prev = curr.prev();
    curr.insertBefore(prev)
    
})

$('.sortBtn').click(function() {
    $('.layer').show();
})
</script>