{{#if isBanTin}}
    <div class='card blog border-0 work-container work-classic shadow rounded-md overflow-hidden'>
        <img src='/images/2-1024x512.png' class='img-fluid work-image' alt='' />
        <div class='card-body'>
            <div class='content'>
                <h5 class='mt-3'>
                    <a href='{{href}}' class='text-light title'>TOCEI Chia Sẻ Kinh Nghiệm
                        {{title}}
                    </a>
                </h5>

                <div class='text-muted post-date'>
                    <span> {{date}}</span>
                </div>
                <p class='text-muted'>
                    {{desc}}</p>
                <a href='{{href}}' class='h6 post__read-more'>
                    Xem thêm »
                    <i class='uil uil-angle-right-b align-middle'></i></a>
            </div>
        </div>
    </div>
{{else}}
    <div
        class='card blog border-0 work-container work-classic shadow rounded-md overflow-hidden'
        style='background-color:black'
    >
        <img src='/images/2-1024x512.png' class='img-fluid work-image' alt='' />
        <div class='card-body p-0'>
            <div class='content'>
                <h5 class='mt-3'>
                    <a href='{{href}}' class='text-light title'>TOCEI Chia Sẻ Kinh Nghiệm
                        {{title}}
                    </a>
                </h5>

                <a href='{{href}}' class='h6 post__read-more'>
                    Xem thêm »
                    <i class='uil uil-angle-right-b align-middle'>
                    </i>
                </a>
            </div>
        </div>
    </div>
{{/if}}