<div class='box-item'>
    <div class='products__inner-box'>
        <div class='product-thumbnail'>
            <a href='{{href}}'><img
                    width='300'
                    height='300'
                    src='/images/{{img}}'
                    class='attachment-woocommerce_thumbnail size-woocommerce_thumbnail'
                    alt=''
                /></a>
            <div class='product-img-overlay'></div>
        </div>
        <div class=''>
            <h5 class='product-title'>
                <a href='{{href}}'>{{title}}</a>
            </h5>
        </div>
        <div class='product-price'>
            {{! <span class='giathuong'>Giá niêm yết: </span> }}
            <span class='Price-amount amount'>
                <bdi>
                    {{formatCurrency price}}</bdi>
            </span>
        </div>
        {{#if hasButton}}
            <div class='product-button'>
                <a
                    href='{{href}}'
                    class='button product_type_variable add_to_cart_button'
                    aria-label='Lựa chọn cho “Bàn Ăn Thông Minh Mahal Kita Home LTX-801M.13.CTD”'
                    rel='nofollow'
                >Thêm vào giỏ hàng</a></div>
            <div class='products-cqw-wrapper'> </div>
        {{/if}}
    </div>
</div>